@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: clashreg;
  src: url(../../public/Fonts/ClashDisplayComplete/ClashDisplay-Regular.otf);
}

@font-face {
  font-family: clashmed;
  src: url(../../public/Fonts/ClashDisplayComplete/ClashDisplay-Medium.otf);
}

@font-face {
  font-family: instrumentserif;
  src: url(../../public/Fonts/InstrumentSerif/InstrumentSerif-Italic.ttf);
}

@font-face {
  font-family: inter;
  src: url(../../public/Fonts/Inter/Inter_28pt-Regular.ttf);
}

@font-face {
  font-family: monument;
  src: url(../../public/Fonts/Monument/MonumentGrotesk_Regular-s.p.e26e8bd9.ttf);
}

@font-face {
  font-family: inter-bold;
  src: url(../../public/Fonts/Inter/Inter_28pt-Medium.ttf);
}

@font-face {
  font-family: intermed;
  src: url(../../public/Fonts/Inter/Inter_24pt-Medium.ttf);
}

@font-face {
  font-family: outfit;
  src: url(../../public/Fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
  font-family: helvetica;
  src: url(../../public/Fonts/Helvetica/Helvetica-Bold.ttf);
}

/* projects grid */
@media (max-width: 400px) {
  .grid-xs-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.dark ::-webkit-calendar-picker-indicator {
  filter: invert(0);
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

html {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges; /* Keep layout width stable across browsers */
}

body {
  -ms-overflow-style: none; /* IE and old Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Restore scrollbar only inside elements that use .custom-scrollbar */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(100, 100, 100, 0.6) transparent; /* Firefox */
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.5);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(160, 160, 160, 0.8);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

@darkmode: "class",

.fade-bottom {
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

@custom-variant dark (&:is(.dark *));

/* get started button */
@layer base {
  @property --pos-x {
    syntax: "<percentage>";
    initial-value: 11.14%;
    inherits: false;
  }

  @property --pos-y {
    syntax: "<percentage>";
    initial-value: 140%;
    inherits: false;
  }

  @property --spread-x {
    syntax: "<percentage>";
    initial-value: 150%;
    inherits: false;
  }

  @property --spread-y {
    syntax: "<percentage>";
    initial-value: 180.06%;
    inherits: false;
  }

  @property --color-1 {
    syntax: "<color>";
    initial-value: #000221;
    inherits: false;
  }

  @property --color-2 {
    syntax: "<color>";
    initial-value: #020543;
    inherits: false;
  }

  @property --color-3 {
    syntax: "<color>";
    initial-value: #221e4e;
    inherits: false;
  }

  @property --color-4 {
    syntax: "<color>";
    initial-value: #464770;
    inherits: false;
  }

  @property --color-5 {
    syntax: "<color>";
    initial-value: #ffffff;
    inherits: false;
  }

  @property --border-angle {
    syntax: "<angle>";
    initial-value: 20deg;
    inherits: true;
  }

  @property --border-color-1 {
    syntax: "<color>";
    initial-value: hsla(0, 0%, 100%, 0.2);
    inherits: true;
  }

  @property --border-color-2 {
    syntax: "<color>";
    initial-value: hsla(0, 0%, 100%, 0.75);
    inherits: true;
  }

  @property --stop-1 {
    syntax: "<percentage>";
    initial-value: 37.35%;
    inherits: false;
  }

  @property --stop-2 {
    syntax: "<percentage>";
    initial-value: 61.36%;
    inherits: false;
  }

  @property --stop-3 {
    syntax: "<percentage>";
    initial-value: 78.42%;
    inherits: false;
  }

  @property --stop-4 {
    syntax: "<percentage>";
    initial-value: 89.52%;
    inherits: false;
  }

  @property --stop-5 {
    syntax: "<percentage>";
    initial-value: 100%;
    inherits: false;
  }
}

@layer components {
  .gradient-button {
    @apply relative appearance-none cursor-pointer;
    background: radial-gradient(
      var(--spread-x) var(--spread-y) at var(--pos-x) var(--pos-y),
      var(--color-1) var(--stop-1),
      var(--color-2) var(--stop-2),
      var(--color-3) var(--stop-3),
      var(--color-4) var(--stop-4),
      var(--color-5) var(--stop-5)
    );
    transition:
      --pos-x 0.5s,
      --pos-y 0.5s,
      --spread-x 0.5s,
      --spread-y 0.5s,
      --color-1 0.5s,
      --color-2 0.5s,
      --color-3 0.5s,
      --color-4 0.5s,
      --color-5 0.5s,
      --border-angle 0.5s,
      --border-color-1 0.5s,
      --border-color-2 0.5s,
      --stop-1 0.5s,
      --stop-2 0.5s,
      --stop-3 0.5s,
      --stop-4 0.5s,
      --stop-5 0.5s;
  }

  .gradient-button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(
      var(--border-angle),
      var(--border-color-1),
      var(--border-color-2)
    );
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
  }

  .gradient-button:hover {
    --pos-x: 0%;
    --pos-y: 91.51%;
    --spread-x: 120.24%;
    --spread-y: 103.18%;
    --color-1: #00ff84;
    --color-2: #647bc6;
    --color-3: #1344b6;
    --color-4: #c8d7ff;
    --color-5: #000019;
    --border-angle: 190deg;
    --border-color-1: hsla(340, 78%, 90%, 0.1);
    --border-color-2: hsla(340, 75%, 90%, 0.6);
    --stop-1: 0%;
    --stop-2: 8.8%;
    --stop-3: 21.44%;
    --stop-4: 71.34%;
    --stop-5: 85.76%;
  }

  .gradient-button-variant {
    --color-1: #000022;
    --color-2: #1f3f6d;
    --color-3: #468796;
    --color-4: #468796;
    --border-angle: 200deg;
    --border-color-1: hsla(320, 75%, 90%, 0.6);
    --border-color-2: hsla(320, 50%, 90%, 0.15);
  }

  .gradient-button-variant:hover {
    --pos-x: 0%;
    --pos-y: 95.51%;
    --spread-x: 110.24%;
    --spread-y: 110.2%;
    --color-1: #ffffff;
    --color-2: #c7d8ff;
    --color-3: #466696;
    --color-4: #1f3f6d;
    --color-5: #000b38;
    --stop-1: 0%;
    --stop-2: 10%;
    --stop-3: 35.44%;
    --stop-4: 71.34%;
    --stop-5: 90.76%;
    --border-angle: 210deg;
    --border-color-1: hsla(320, 75%, 90%, 0.2);
    --border-color-2: hsla(320, 50%, 90%, 0.75);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
  --animate-shiny-text: shiny-text 8s infinite;
  @keyframes shiny-text {
    0%,
    90%,
    100% {
      background-position: calc(-100% - var(--shiny-width)) 0;
    }
    30%,
    60% {
      background-position: calc(100% + var(--shiny-width)) 0;
    }
  }
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
    alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
  @keyframes fadeSlideIn {
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0px);
    }
  }
  @keyframes slideRightIn {
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateX(0px);
    }
  }
  @keyframes testimonialIn {
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0px) scale(1);
    }
  }
  --color-destructive-foreground: var(--destructive-foreground);
  --color-color-destructive-foreground: var(----color-destructive-foreground);
  @keyframes right {
    0% {
      transform: translateX(calc(100% + 0.375rem));
    }
    50% {
      transform: translateX(calc(100% + 0.375rem + 0.25rem));
    }
    100% {
      transform: translateX(calc(100% + 0.375rem));
    }
  }
}
@layer utilities {
  @keyframes loader-letter-anim {
    0%,
    100% {
      opacity: 0.4;
      transform: translateY(0);
    }
    20% {
      opacity: 1;
      transform: scale(1.15);
    }
    40% {
      opacity: 0.7;
      transform: translateY(0);
    }
  }

  .animate-loader-letter {
    animation: loader-letter-anim 2s infinite;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --destructive-foreground: oklch(1 0 0);
}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --destructive-foreground: oklch(1 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
